<h1>Hello from Electron</h1>
<!-- <p>{{title}}</p> -->
<!-- <button (click)='display()'>Click</button> -->
<!-- <ul>
    <li *ngFor="let detail of details">{{detail}}</li>
</ul>
<ul>
    <li *ngFor="let number of numbers">{{number}}</li>
</ul> -->
<table>
    <tr>
        <th>VendorId</th>
        <th>ProductId</th>
        <th>Manufacturer</th>
        <th>Product</th>
    </tr>
    <tr  *ngFor="let detail of details">
        <td>{{detail.vendorId}}</td>
        <td>{{detail.productId}}</td>
        <td>{{detail.manufacturer}}</td>
        <td>{{detail.product}}</td>
    </tr>
</table>

<p>{{length}}</p>
<!-- 
<p>{{details[0]}}</p> -->

<p>End of devices</p>

<h2>Database values are</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
    </tr>
    <tr *ngFor="let info of infos">
        <td>{{info.id}}</td>
        <td>{{info.title}}</td>
    </tr>
    
</table>
<!-- <app-database></app-database> -->
<app-home></app-home>
<router-outlet></router-outlet>